# Auto detect text files and perform LF normalization
* text=auto
# Hide Frontend layer
*.html linguist-detectable=false
*.css linguist-detectable=false
# Explicit Show Backend layer 
*.go linguist-detectable=true
